<launch>
	<arg name="marker_size" default="5" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
        
	<arg name="cam_image_topic" default="/usb_cam/image_raw" />
	<arg name="cam_info_topic" default="/usb_cam/camera_info" />
        
        
	<arg name="output_frame" default="/usb_cam" />
	<arg name="max_frequency" default="10" />
	<arg name="display_unknown_object" default="0" />

	<arg name="bundle_files" default=" 
$(find ar_track_alvar_bundles)/bundles/MarkerData_0.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_1_2_3_4_5_6.xml 
$(find ar_track_alvar_bundles)/bundles/MarkerData_7_49.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_50.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_8.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_9.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_10.xml 
$(find ar_track_alvar_bundles)/bundles/MarkerData_11.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_12.xml 
$(find ar_track_alvar_bundles)/bundles/MarkerData_13_14_15_16_17_18.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_19_20_21_22_23_24.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_25_26_27_28_29_30.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_31_32_33_34_35_36.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_37_38_39_40_41_42.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_51_52.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_53_54.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_55.xml
"/>

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg max_frequency) $(arg display_unknown_object) $(arg bundle_files)" />

<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>


<node pkg="tf" type="static_transform_publisher" name="world_to_usbcam" 
    args="0 0 0.5 -1.57 0 -1.57 world usb_cam 10" />

</launch>
